extends layout

block content
  // Page Heading
  .row
    .col-lg-12
      h1.page-header
        = title
        small  A social media tracker built with Node.JS + Socket.io + Twitter Streaming API
  // /.row
  .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            h3.panel-title
              i.fa.fa-bar-chart-o.fa-fw
              |  Race Chart
          .panel-body
            .chart
  // /.row
  .row
      .col-lg-6
        #1.panel.panel-default.tracker
          .panel-heading.heading-perso
            h3.panel-title
              i.fa.fa-comment.fa-fw
              span.name Tracker 1
              span.count 0
          .panel-body
            // add tweet scroll
            .tweets
      .col-lg-6
        #2.panel.panel-default.tracker
          .panel-heading.heading-perso
            h3.panel-title
              i.fa.fa-comment.fa-fw
              span.name Tracker 2
              span.count 0
          .panel-body
            // add tweet scroll
            .tweets
  // /.row

  // Socket.io (2/2) = a client library that loads on the browser side
  script(src='https://cdn.socket.io/socket.io-1.2.0.js')
  script(src='javascripts/clientComms.js')