extends layout

block content
	h1 My battles
	ul
		each battle in myBattles
			.row(name=battle._id)
				.col-lg-4
					h3= battle.title
					p= battle.description
				.col-lg-4
					.input-group.margin-bottom-sm
						span.input-group-addon
							i.fa.fa-link.fa-fw
						input.form-control(type='text', value = url + '?id=' + battle._id)
				.col-lg-4
					a.btn.btn-default.btn-sm(href='./edit?id='+battle._id)
						i.fa.fa-pencil
						|  Edit
					form.btn.btn-sm(action='./delete?id='+battle._id,method='post')
						button.btn.btn-danger.btn-sm(type='submit')
							i.fa.fa-trash-o.fa-lg
							|  Delete
					